Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
# (i) 
s = "hello world"
print(s)

# (ii)
l= [13, 7 , 13.72, "hello world", ["apple","litchi","kiwi","rice","lime"]]
print(l)

# (iii)
f= float(input("Enter a float value"))
print(f)
f1 = 7.23
print(f1)

# (iv)
t=( 13.5, 12, 156, "Python", ( "Apple", "Litchi") )
print(t)

hello world
[13, 7, 13.72, 'hello world', ['apple', 'litchi', 'kiwi', 'rice', 'lime']]

Enter a float value 13.1

13.1
7.23
(13.5, 12, 156, 'Python', ('Apple', 'Litchi'))

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.


ans (1): string
ans (2): string
ans (3): list
ans (4): float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [3]:
# (i) /  Divivsion: Divides the number and returns the quotient in floating point value. 

a = 12/3
print(a)

4.0

In [4]:
# (ii) % Modulus : Modulus function is used to divide the number and returns the remainder in floating point value.

b = 15/3
print(b)

5.0

In [5]:
# (iii) // floor division : Floor division  is used to divide the number and returns the nearest integer 

c= 16//5
print(c)

3

In [1]:
# (iv) ** Exponential : Exponential is used to calculate "raise to the power"

d= 2**3
print(d)

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [2]:
l= [13, 7 , 13.72, "hello world", True, False, "pwskills", "python", 11, 5]
for i in l:
    print("Elements are :" , i, "         ", "datatype :" , type(i))

Elements are : 13           datatype : <class 'int'>
Elements are : 7           datatype : <class 'int'>
Elements are : 13.72           datatype : <class 'float'>
Elements are : hello world           datatype : <class 'str'>
Elements are : True           datatype : <class 'bool'>
Elements are : False           datatype : <class 'bool'>
Elements are : pwskills           datatype : <class 'str'>
Elements are : python           datatype : <class 'str'>
Elements are : 11           datatype : <class 'int'>
Elements are : 5           datatype : <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [3]:
a= int(input("Enter number A, to be divided"))
b= int(input("Enter number B, by which A will be divided"))
count=0

while a % b == 0:
    a = a // b
    count += 1

if count >= 1:
    print("A is purely divisible by B and it can be divided", count, "time(s)")
else:
    print("A is not purely divisible b")

Enter number A, to be divided 12
Enter number B, by which A will be divided 3

A is purely divisible by B and it can be divided 1 time(s)

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [13]:
l= [3,5,6,7,9,11,12,13,15,17,18,19,21,23,24,25,27,29,30,31,33,35,36,38,39]
for i in l :
    if i % 3 == 0:
        print("Element:", i,"                     ","Element is divisible by 3")
    else:
        print("Element :", i,"                    ","Element is not divisible by 3")

Element: 3                       Element is divisible by 3
Element : 5                      Element is not divisible by 3
Element: 6                       Element is divisible by 3
Element : 7                      Element is not divisible by 3
Element: 9                       Element is divisible by 3
Element : 11                      Element is not divisible by 3
Element: 12                       Element is divisible by 3
Element : 13                      Element is not divisible by 3
Element: 15                       Element is divisible by 3
Element : 17                      Element is not divisible by 3
Element: 18                       Element is divisible by 3
Element : 19                      Element is not divisible by 3
Element: 21                       Element is divisible by 3
Element : 23                      Element is not divisible by 3
Element: 24                       Element is divisible by 3
Element : 25                      Element is not divisible by 3
Element: 27                       Element is divisible by 3
Element : 29                      Element is not divisible by 3
Element: 30                       Element is divisible by 3
Element : 31                      Element is not divisible by 3
Element: 33                       Element is divisible by 3
Element : 35                      Element is not divisible by 3
Element: 36                       Element is divisible by 3
Element : 38                      Element is not divisible by 3
Element: 39                       Element is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutable data types are those data types whose elements can be assesed and updations  or changes can be made in the data at a given particular point. Example of such data types are lists, dictionaries, tuples.
Immutable data types are those data types whose elements cannot be assesed and no updations or changes can be made in the data a given particular point. Example of such data types are string.When trying to update the value of immutable data types, error ('str' object has no attribute 'append' )can be seen.

In [17]:
# Mutable data type example

l=[5,6,7,8]
print("Old list without updation", l)
l.append(9)
print("New list with updation", l)

Old list without updation [5, 6, 7, 8]
New list with updation [5, 6, 7, 8, 9]

In [19]:
# Immutable data type example

s= "python"
print(s)
s.append("pikachu")

python

AttributeError: 'str' object has no attribute 'append'

----------------------------------------------------------------------------------------- END --------------------------------------------------------------------------------------------------------------